main{
    text-align: justified;
    padding-bottom: 20px;
}

.flip{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

p{
    font-family: cursive;
}



table {
    width: 100%;
    text-align: center;
}

@media (max-width: 700px) {
    td {
        display: flex;
        width: 100%;
    }

    .txtbox {
        border: 5px solid rgb(123, 253, 203);
        background-color: rgb(236, 232, 216);
        box-shadow: gray 5px 5px 5px;
        border-radius: 25px;
        text-align: justify;
        padding: 5%;
        font-family: cursive;
        font-size: large;
        margin-bottom: 20px;
    }
    
    .imgbox{
        text-align: center;
    }

    .charaname {
        display: none;
    }


}

@media (min-width: 700px) {
    
    .txtbox {
        border: 5px solid rgb(123, 253, 203);
        background-color: rgb(236, 232, 216);
        box-shadow: gray 5px 5px 5px;
        border-radius: 25px;
        text-align: justify;
        padding: 5%;
        font-family: cursive;
        font-size: large;
        width: 40%;
    }
    
    .imgbox{
        width: 20%;
        text-align: center;
    }
    .charaname {
        padding-bottom: 20px;
        font-family: cursive;
    }

}


img{
    border-radius: 10px;
    max-width: 100%;
    object-fit: contain;
}

