*{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter";
}


form
{
	padding : 10px;
	background : white;
	max-width : 250px;
	left: 20%;
	right: 20%;
	border: 10px solid mediumaquamarine;
	border-radius: 25px;
}

.inputdiv{
	text-align: right;
	padding: 5px;
}

.passport{
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	background-color: rgb(255, 228, 196);
	max-width: 600px;
	min-height: 300px;
	border:solid 5px tan;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 10px;
	overflow-x: hidden;

}




.inputdiv
{
	min-width:150px;
	flex : 2 2;
	justify-content: center;
	margin: 2px;
}
input
{
	width: 100%;
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
	border-color: grey;
}

.selectdiv
{
	min-width: 100px;
	max-width: 50px;
	flex: 1 2;
	justify-content: center;
	margin: 1%;
}

.passportEntry{
	background-color: linen;
	border-radius: 7px;
	padding: 5px;
	margin: 10px;
	overflow-x: hidden;
}

.wrapper{

	max-width: 600px;
	width: auto;
	overflow: hidden;
}

#_islandname{
	display: inline-block;
	width: auto;
}
#_fruit{
	display: inline-block;
	width: auto;	
}

#_greeting{
	display: inline-block;
}

#_profile{
	object-fit: cover;
	float: left;
	border-radius: 20px;
	padding: 0px 5px 5px 5px;
}


h1{

	text-align: center;
}